.category-item {
  background-color: var(
    --color-background
  ); /* default color regardless of if is even or odd*/
  color: white;
  border-radius: var(--border-radius);
  overflow: hidden; /* to make the radius apply to the images as well */
}

.category-item .content {
  box-sizing: border-box;
  padding: var(--space-medium);
}

.category-item .button {
  background: none; /* change the style of the default buttons */
  border: solid 1px white;
  color: white;
}

@media (min-width: 750px) {
  .category-item {
    display: flex;
  }

  .category-item img,
  .category-item .content {
    width: 50%;
    height: 400px;
  }

  .category-item img {
    object-fit: cover;
  }

  .category-item .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
