.item-category {
  background-color: var(
    --color-primary
  ); /* default color regardless of if is even or odd*/
  color: white;
  border-radius: var(--border-radius);
  overflow: hidden; /* to make the radius apply to the image as well */
}

.item-category .content {
  box-sizing: border-box;
  padding: var(--space-medium);
}

.item-category .button {
  background: none; /* change the style of the default buttons */
  border: solid 1px white;
  color: white;
}

@media (min-width: 750px) {
  .item-category {
    display: flex;
  }

  .item-category img,
  .item-category .content {
    width: 50%; /* forcing each element to be hald width, otherwise the image that are bigger will make the content look narrow */
    height: 400px;
  }

  .item-category .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
