.item-product {
  background-color: var(--color-primary);
  color: white;
  text-decoration: none;
  border-radius: var(--border-radius);
  overflow: hidden; /* to make the radius apply to the image as well */
}

.item-product:hover {
  background-color: var(--color-secondary);
}

.item-product .content {
  padding: var(--space-big);
}

@media (min-width: 750px) {
  .item-product {
    display: flex; /* to make the image and content move from a vertical position to an horizontal position */
  }
  .item-product img {
    --size: 250px; /* to make the image look like a perfec square */
    width: var(--size);
    height: var(--size);
  }

  .item-product .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
}
