#home .hero {
  background-image: url("../../assets/images/home-hero.jpg");
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

#home .category-item {
  margin-bottom: 24px;
}

@media (min-width: 750px) {
  #home .category-item {
    margin-bottom: 0;
  }
}
