#home h2 {
  text-align: center;
}

#home .category-item {
  margin-bottom: 24px;
}

#home .category-item:last-child {
  margin-bottom: 0; /* so the last .category-item don't have a margin bottom */
}

#home .category-item:nth-child(even) {
  background-color: var(--color-primary);
}
#home .category-item:nth-child(odd) {
  background-color: var(--color-secondary);
}

@media (min-width: 750px) {
  #home .category-item {
    margin-bottom: 0;
  }

  #home .category-item:nth-child(odd) {
    flex-direction: row-reverse; /* to rever its position only on desktop */
  }

  /* Optional to make the border radius prettier */
  #home .category-item {
    border-radius: 0;
  }
  #home .category-item:first-of-type {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  #home .category-item:last-of-type {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
