.button {
  display: inline-block; /* to allow <a> behave close to the real <button> tag*/
  min-width: 80px;
  margin: 0;
  padding: var(--space-small) var(--space-big);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: white;
  font-family: "Mulish", sans-serif;
}
