.button {
  box-sizing: border-box;
  display: inline-block; /* to make the <a> behave close to the real <button> tag */
  min-width: 80px; /* to make sure that buttons with short words appear wide enough */
  margin: 0;
  padding: var(--space-small) var(--space-big); /* the first var handles the top and bottom padding, the second var handles the left and right padding */
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-family: "Mulish", sans-serif;
  text-decoration: none; /* to remove the underline of <a> when we want to make them look like buttons */
}
