.hero {
  --height: 400px;
  position: relative; /* this is neccesary to make the img positioniing work in relation to the .hero instead of the whole page */
  height: var(--height);
}

.hero img {
  z-index: -1; /* to appear behind the .content */
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--height);
  object-fit: cover;
  filter: contrast(
    0.5
  ); /* to make the image opaque making the content on top easier to read */
}

.hero .centered-content {
  height: var(--height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .centered-content h1 {
  text-align: center;
}

@media (min-width: 750px) {
  .hero {
    --height: 600px;
  }
  .hero,
  .hero img,
  .hero .centered-content {
    height: var(--height);
  }
}
