.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}

@media (min-width: 750px) {
  .hero {
    height: 600px;
  }
}
