@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=PT+Serif&display=swap");

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  font-family: "Mulish", sans-serif;
  font-smooth: always;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: var(--space-medium);
  margin-top: -100px; /* to appear on top of the hero */
  margin-bottom: var(--space-big);
  padding: var(--space-medium);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

@media (min-width: 750px) {
  .container {
    max-width: 960px; /* to avoid going to the borders of the screen on big monitors */
    margin: 0 auto; /* to center the container on big monitors */
    margin-top: -200px; /* to appear on top of the hero */
    margin-bottom: var(--space-ultra);
  }
}
