/**
  About swatches.css
  This file holds the information about the colors used in the project, withouth telling in what part of the code they will be used.
*/
:root {
  --swatch-violet: #442637;
  --swatch-green: #51724e;
  --swatch-salmon: #ffeee0;
  --swatch-wood: #42362d;
}
