h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "PT Serif", serif;
}

h1 {
  margin-bottom: var(--space-big);
}

h2 {
  margin-bottom: var(--space-medium);
}

h3 {
  margin-bottom: var(--space-small);
}

p,
button {
  font-size: 18px;
  margin-bottom: var(--space-small);
}
