/* Colors */
:root {
  --color-primary: var(--swatch-green);
  --color-secondary: var(--swatch-violet);
  --color-background: var(--swatch-salmon);
  --color-text: var(--swatch-smoke);
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-ultra: 48px;
}

/* Other */
:root {
  --border-radius: 8px;
}
